/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
h4{
  text-align: center;
  color: #fff;
}

.infi-content{
  display: flex;
  background-color: #f0f2f5;
  .left-nav{
    height: 100%;
    background-color:#001529;
    margin: 0;
    flex: 1;
    min-height: 100vh;
    border: 1px solid #001529;
    min-width: 160px;
    &>a {
      display: block;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      height: 40px;
      line-height: 40px;
      color: hsla(0,0%,100%,.65);
      border-radius: 4px;
    }
    &>a:hover {
      color: #039be5;
    }
    &>a.active {
      color: #039be5;
    }
    .roActive{
      color: #fff;
      background-color:#039be5;
    }
    .roActive:hover{
      color: #fff;
    }
  }
  .left-nav-hide{
    display: none;
  }

  .left-nav,.right-content{
    display: flex;
    flex-direction: column;
  }


  .right-content{
    flex: 7;
    margin-left: 20px;
    .header-nav{
      background-color: #fff;
      height: 40px;
      padding-left: 20px;
    }
    .content{
      margin: 30px 20px 0 0;
      background-color: #fff;
      padding-left: 20px;
    }
  }
}

section{
  margin-left: 10px;
  background-color: #fff;
}

