<!--EventEmitter－－通过事件机制来贯穿父子组件-->
<!--通过子组件的ｃｌｉｃｋ来向ｏｎＶｏｔｅｄ传递值-->
<!--<h2>Should mankind colonize the Universe?</h2>-->
<!--<h3>Agree:{{this.agreed}},DisAgree:{{this.disagreed}}</h3>-->
<!--<app-hero-measurement-children-->
        <!--*ngFor="let voter of voters"-->
        <!--[name]="voter"-->
        <!--(voted)="onVoted($event)"-->
<!--&gt;</app-hero-measurement-children>-->

<!--通过模版常量来进行操作．，升级版可以通过ｖｉｅｗＣｈｉｌｄ标注来注入-->
<!--<h3>Countdown to Liftoff (via local variable)</h3>-->
<!--<button (click)="timer.start()">Start</button>-->
<!--<button (click)="timer.stop()">Stop</button>-->
<!--<div class="seconds">{{timer.seconds}}</div>-->
<!--<app-hero-measurement-children #timer></app-hero-measurement-children>-->

<!--父组件和子组件通过服务来通讯-->
<!--<h2>Mission Control</h2>-->
<!--<button (click)="announce()">Announce mission</button>-->
<!--<app-hero-measurement-children *ngFor="let astronaut of astronauts"-->
               <!--[astronaut]="astronaut">-->
<!--</app-hero-measurement-children>-->
<!--<h3>History</h3>-->
<!--<ul>-->
    <!--<li *ngFor="let event of history">{{event}}</li>-->
<!--</ul>-->

<!--父组件调用@ViewChild()，直接将子组件注入到父组件内,适用于父组件的类调用子组件的属性或者方法时，模版变量无法满足的情形-->
<h3>Countdown to Liftoff (via ViewChild)</h3>
<button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>
<div class="seconds">{{ seconds() }}</div>
<app-hero-measurement-children></app-hero-measurement-children>
