<div>
    <div>
        <span class="glyphicon list-icon" [ngClass]="{'glyphicon-align-justify':openTip,'glyphicon-list':!openTip}" (click)="updateNaviTip()"></span>
        <div class="header-right">
            <span class="search-icon">
                <img src="../../assets/image/search.svg"  (click)="onFocus()" />
                <input aria-label="站内搜索" placeholder="站内搜索" type="text" id="search-input"
                       class="search-content" [ngClass]="{'search-content-focus':focusTip}" (blur)="loseFocus()" value="">
            </span>
            <span class="person-icon">
                <img src="../../assets/image/boy.png">
                <ul class="person-menu">
                    <li routerLink="person-manager">个人中心</li>
                    <li>退出登录</li>
                </ul>
            </span>
        </div>
        <!--<span class="glyphicon glyphicon-align-justify list-icon"></span>-->
    </div>
</div>
